<div class="container">
	<h1><%= @user.name %>'s trips!</h1>

	<%@trips.each do |trip| %>
	<a href="/users/<%=@user.id%>/trips/<%=trip.id%>/restaurants"><%=trip.destination.name%></a>
	<%end%>

	<a href="/users/<%=@user.id%>/trips/new">Add Trip</a>
</div>
